$base-color: #333333;
$green-active: #3db565;
$offices-background: #272727;

@import '../../../node_modules/bootstrap/scss/bootstrap-grid';
@import '_fonts';
@import '_forms';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2 {
  font-family: 'SuisseIntl Light', sans-serif;
  font-weight: 300;
  margin: 0 0 1em;
}

h1 {
  font-size: 3.57em;
}

h2 {
  font-size: 2.42em;
}

.section-container {
  padding: 7.14em 4.28em;
}

.details {
  font-family: 'SuisseIntl Light', sans-serif;
  font-weight: 300;
  padding-top: 4.28em;
  color: $base-color;

  a {
    font-size: 1.85em;
    color: $green-active;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p, pre {
    line-height: 1.5;
    margin-top: 0;
  }

  pre {
    font-family: 'SuisseIntl Light', sans-serif;
    white-space: pre-line;
  }

  &__subtitle {
    span {
      color: $green-active;
    }
  }

  &__contacts {
    p {
      font-size: 1.1em;
      margin-bottom: .3em;
    }

    a {
      display: block;
      font-family: 'SuisseIntl Semibold', sans-serif;
      font-weight: 600;
      font-size: 1em;
      text-transform: uppercase;
      margin-bottom: .45em;
    }
  }
}

.offices {
  color: white;
  background: url('../images/offices-background.png');

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7.14em 0 7.14em 4.28em;
  }

  &__links {
    display: flex;

    li {
      cursor: pointer;
      text-transform: uppercase;
      font-family: 'SuisseIntl Semibold', sans-serif;
      font-size: .8em;
      letter-spacing: .1em;
      transition: color .3s ease;

      &:hover,
      &.active {
        color: $green-active;
      }
      
      &:not(:last-child) {
        margin-right: 2.5em;
      }
    }
  }

  &__details {
    font-family: 'SuisseIntl Light', sans-serif;
    font-weight: 300;
    margin-top: 3em;
    line-height: 1.5;
  }

  &__title {
    font-size: 1.6em;
    margin-bottom: 2em;
  }

  &__address {
    font-size: .8em;
    white-space: pre;
  }
}

.contact {
  background: url('../images/contact-background.png');
  background-size: cover;

  &__paragraph {
    p {
      font-family: 'SuisseIntl Light', sans-serif;
      font-weight: 300;
      font-size: 1.1em;
      line-height: 1.5;
    }
  }
}

.vue-map-container {
  width: 100%;
  height: 100%;
  min-height: 30vh;
}

@media all and (max-width: 1200px) {
  main {
    font-size: 13px;
  }
}

@media all and (max-width: 992px) {
  main {
    font-size: 12px;
  }
}

@media all and (max-width: 767px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.8em;
  }
}

@media all and (max-width: 480px) {
  .section-container {
    padding: 4em 2em;
  }

  .offices {
    &__block {
      padding: 4em 2em;
    }

    &__links {
      li:not(:last-child) {
        margin-right: 1.5em;
      }
    }

    &__details {
      margin-top: 1.5em;
    }

    &__title {
      margin-bottom: 1em;
    }
  }
}